@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html{
  scroll-behavior: smooth;
}

.hero-img {
  background-image: url("https://i.ibb.co/JFMzzLK/hero-section1.png");
  background-position: 90% center; /* Mengambil bagian ujung kanan gambar */
  background-repeat: no-repeat;
  background-size: cover;
}

/* Jika Anda ingin memastikan bahwa gambar tidak diambil bagian ujung kirinya pada tampilan mobile, Anda bisa menambahkan media query seperti ini: */
@media (max-width: 640px) {
  .hero-img {
    background-position:75%; 
  }
}

